/*телефон*/
@media (max-width: 767px) {
    .main-screen_container {
        position: static;
        max-width: 345px;
    }

    .desc-container {
        max-width: 345px;
    }

    .bg-image {
        object-position: 53%;
    }

    .main-header {
        width: 100%;
        flex-direction: column;
    }

    .yellow-rectangle-block {
        width: 100%;
        bottom: -64px;
        overflow: visible;

    }


    .contacts {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .game--logo--name {
        height: 50px;
    }

    .game--logo--number {
        width: 60px;
    }

    .contacts img {
        width: 25px;
    }

    .rectangular--info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 345px; /* Сохраняем максимальную ширину */
        text-align: center;
    }

    .rectangular--info--button {
        font-size: 20px;
        width: 244px;
        height: 60px;
    }

    .available--info {
        font-family: Archangelsk;
        font-size: 30px;
        font-weight: 400;
        align-items: center;
        width: 295px;
    }

    .description-preview-screen h3 {
        font-size: 30px;
        line-height: 30px;
    }

    .image-gallery {
        max-width: 320px;
        flex-direction: column;
    }

    .screens-wrapper {
        flex-direction: column;
    }

    .gallery-bigImg {
        object-fit: cover;
        object-position: center;
        height: 424px;
    }

    .promoStar img:first-child {
        width: 66px;
    }

    .promoStar {
        margin-top: 6px;
    }

    .promoStar img:last-child {
        width: 35px;
    }

    .promoContainer {
        max-width: 296px;
    }

    .motto {
        margin-top: 143px;
        font-size: 30px;
    }

    .promo-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .addedConsole {
        margin-left: 32px;
    }

    .spray {
        width: 132px;
        height: 131px;
    }

    .console {
        width: 89px;
        height: 100px;
    }

    .consoles {
        right: auto;
        top: 62px;
    }

    .registration-form {
        width: 296px;
    }

    .add-photo-button {
        width: 296px;
    }

    .send-button {
        width: 182px;
    }

    .hp-screen-container {
        max-width: 296px;
    }

    .monitor {
        width: 296px;
    }

}

/* планшет */
@media (min-width: 768px) and (max-width: 1199px) {
    .main-header {
        width: 952px;
        height: 74px;
        justify-content: space-between;
    }

    .main-screen_container {
        max-width: 952px;
    }

    .bg-image {
        object-position: 53%;
    }

    .contacts img {
        margin-left: 40px;
    }

    .available--info br {
        display: inline; /* Показываем перенос только на больших экранах */
    }

    .yellow-rectangle-block {
        width: fit-content;
    }


    .rectangular--info--button {
        margin-top: 25px;
        font-size: 24px;
    }

    .desc-container {
        max-width: 952px;
    }


    .image-gallery {
        max-width: 952px;
        flex-direction: column;
    }

    .screens-wrapper {
        flex-direction: row;
    }

    .gallery-bigImg {
        height: 424px;
    }

    .promoContainer {
        max-width: 952px;
    }

    .addedConsole {
        margin-top: -54px;
    }

    .ps {
        margin-top: -54px;
    }

    .consoles {
        flex-direction: column;
        margin-right: 0;
    }

    .moto-star {
        max-width: 320px;
    }

    .promo-description {
        max-width: 460px;
    }

    .consoles {
        top: 95px;
    }

    .hp-screen-container {
        max-width: 952px;
    }

    .monitor {
        width: 460px;
        /*margin-top: 112px;*/
        /*    +42*/
    }
}

/* монитор */
@media (min-width: 1200px) {

    .main-header {
        width: 1280px;
        height: 74px;
        justify-content: space-between;
    }

    .contacts img {
        margin-left: 40px;
    }

    .available--info br {
        display: inline; /* Показываем перенос только на больших экранах */
    }

    .motto {
        margin-left: 32px;
        margin-bottom: 14px;
    }

    .moto-star {
        display: flex;
        align-items: end;
    }

    .addedConsole {
        margin-left: -132px;
    }

    .extensions {
        display: block;
    }


}


