/* Перенос текста в желтом блоке*/
.available--info br {
    display: none;
}

.description-preview-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.description-preview-screen h3 {
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
}

.description-preview-screen p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-top: 25px;
}


.description-name {

}

.desc-container {
    max-width: 1280px;
    margin-top: 120px;

}

.bg-image {
    width: 100%;
    height: 100%;
    /*сохраняет пропорции*/
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

/*блок желтый*/

.yellow-rectangle-block {
    position: absolute;
    bottom: 16px;
    right: 0px;
    /*margin-right: 20px;*/
    width: fit-content; /* По умолчанию размер по содержимому */
}

.yellow-rectangle {
    width: 100%; /* Картинка занимает весь родительский блок */
    height: auto;
}

.rectangular--info {
    position: absolute; /* Позиционируем содержимое относительно родителя */
    top: 70px;
    left: 70px;
}

.available--info {
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
}

.rectangular--info--button {
    margin-top: 25px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 1);
    font-weight: 700;
    color: rgba(248, 242, 0, 1);
    border: none;
    outline: none;
    width: 272px;
    height: 78px;
}


.main-screen {
    height: 100%;
}


.main-screen_bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.header {
    align-items: center;
}

.container {
    position: relative;
    max-width: 1280px;
    height: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
}

/*телефон*/
@media (max-width: 767px) {
    .container {
        position: static;
        max-width: 345px;
    }

    .desc-container {
        max-width: 345px;
    }

    .bg-image {
        object-position: 53%;
    }

    .header {
        width: 100%;
        flex-direction: column;
    }

    .yellow-rectangle-block {
        width: 100%;
        bottom: -60px;
        overflow: visible;
    }

    /*.contacts {*/
    /*    padding-left: 20px;*/
    /*    padding-right: 20px;*/
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*    width: 100%;*/
    /*}*/
    /*.game--logo--name {*/
    /*    height: 50px;*/
    /*}*/
    /*.game--logo--number {*/
    /*    width: 60px;*/
    /*}*/
    /*.contacts img {*/
    /*    width: 25px;*/
    /*}*/
    /*.rectangular--info {*/
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    left: 50%;*/
    /*    transform: translate(-50%, -50%);*/
    /*    max-width: 345px; !* Сохраняем максимальную ширину *!*/
    /*}*/
    /*.rectangular--info--button {*/
    /*    font-size: 20px;*/
    /*    width: 244px;*/
    /*    height: 60px;*/
    /*}*/
    /*.available--info {*/
    /*    font-family: Archangelsk;*/
    /*    font-size: 30px;*/
    /*    font-weight: 400;*/
    /*    align-items: center;*/
    /*}*/
    /*.description-preview-screen h3 {*/
    /*    font-size: 30px;*/
    /*    line-height: 30px;*/
    /*}*/
}

/* планшет */
@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        width: 952px;
        height: 74px;
        justify-content: space-between;
    }

    .desc-container {
        max-width: 952px;
    }

    .container {
        max-width: 952px;
    }

    .bg-image {
        object-position: 53%;
    }

    .contacts img {
        margin-left: 40px;
    }

    .available--info br {
        display: inline; /* Показываем перенос только на больших экранах */
    }

    .yellow-rectangle-block {
        width: fit-content;
        margin: 0; /* Убираем внешние отступы */
    }

    .rectangular--info {
        /*padding: 30px;*/
        /*top: 40%; !* Центрируем содержимое *!*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
        /*text-align: center; !* Центрируем текст и кнопку *!*/
    }

    /*.available--info {*/
    /*    min-width: 295px;*/
    /*    font-size: 30px; !* Уменьшаем размер шрифта *!*/
    /*}*/
    .rectangular--info--button {
        margin-top: 25px;
        /*width: 272px;*/
        /*height: 78px;*/
        /*align-items: center;*/
        font-size: 24px;
        /* Уменьшаем размер кнопки */
        /*padding: 20px 40px; !* Уменьшаем отступы внутри кнопки *!*/
    }
}

/* монитор */
@media (min-width: 1200px) {

    .header {
        width: 1280px;
        height: 74px;
        justify-content: space-between;
    }

    .contacts img {
        margin-left: 40px;
    }

    .available--info br {
        display: inline; /* Показываем перенос только на больших экранах */
    }


}

/*логотип название и число*/
.game--logo {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.game--logo img:first-child {
    position: relative;
}

.game--logo img:last-child {
    position: absolute;
    top: 72%;
    left: 60%;
}
