
.first-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 952px;
}


@media (max-width: 767px) {
    .container {
        background-image: url('pictures/MainPage/Background/hero.png');
        max-width: 415px;
        height: 763px;
        background-position: 54% 50%;
        display: flex;
        justify-content: center;
    }


    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .contacts {
        display: flex; /* Активируем flex-контейнер */
        justify-content: space-between; /* Равное расстояние между элементами */
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Для планшетов */
@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        background-image: url('pictures/MainPage/Background/hero.png'); /* Новая картинка */
        max-width: 1024px;
        height: 1000px;
        background-position: center;
        display: flex;
    }


}

/* Для больших экранов */
@media (min-width: 1200px) {
    .container {
        background-image: url('pictures/MainPage/Background/hero.png');
        height: 1000px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .first-page {
        max-width: 1200px;
    }

    /*    .game--logo {*/
    /*        margin-left: 320px;*/
    /*    }*/
}