/*телефон*/
@media (max-width: 767px) {
    .main-screen_container {
        position: static;
    }

    .desc-container, .main-screen_container, .rectangular--info {
        max-width: 345px;
    }

    .bg-image {
        object-position: 53%;
    }

    .main-header {
        width: 100%;
        flex-direction: column;
    }

    .registration-form {
        width: 100%;
    }

    .yellow-rectangle-block {
        width: 100%;
        bottom: -64px;
        overflow: visible;
    }

    .contacts {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .game--logo--name {
        height: 50px;
    }

    .game--logo--number {
        width: 60px;
    }

    .contacts img {
        width: 25px;
    }

    .rectangular--info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .rectangular--info--button {
        font-size: 20px;
        width: 244px;
        height: 60px;
    }

    .available--info {
        font-family: Archangelsk, serif;
        font-size: 30px;
        font-weight: 400;
        align-items: center;
        width: 295px;
    }

    .description-preview-screen h3 {
        font-size: 30px;
        line-height: 30px;
    }

    .image-gallery {
        max-width: 320px;
        flex-direction: column;
    }

    .screens-wrapper {
        flex-direction: column;
    }

    .gallery-bigImg {
        object-fit: cover;
        object-position: center;
        height: 424px;
    }

    .promoStar img:first-child {
        width: 66px;
    }

    .promoStar {
        margin-top: 6px;
    }

    .promoStar img:last-child {
        width: 35px;
    }

    .promoContainer, .underline, .add-photo-button, .hp-screen-container,
    .monitor, .hp-nav, .cds-buy-h2, .cds-article, .cds-nav {
        max-width: 296px;
    }

    .motto {
        margin-top: 143px;
        font-size: 30px;
    }

    .promo-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .addedConsole {
        margin-left: 32px;
    }

    .spray {
        width: 132px;
        height: 131px;
    }

    .console {
        width: 89px;
        height: 100px;
    }

    .consoles {
        right: auto;
        top: 62px;
    }

    .underline {
        height: 1px;
    }

    .send-button {
        width: 182px;
    }

    .hp {
        width: 44px;
    }

    .cross-container {
        width: 50px;
        height: 12px;
    }

    .hp--game--logo {
        width: 175px;
        height: 44px;
    }

    .hp-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hp-screen-container {
        flex-direction: column;
    }


    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto; /* Две строки: подстраиваются под содержимое */
        width: 100%; /* Контейнер растягивается на всю ширину */
        gap: 32px 26px;
    }

    .hp-image {
        grid-column: 1; /* Расположено в первой колонке */
        grid-row: 1; /* Первая строка */
    }

    .hp-nav {
        grid-column: 1; /* Всё еще первая колонка */
        grid-row: 2; /* Вторая строка */
    }

    .hp-article {
        grid-column: 1;
        grid-row: 3 / span 2; /* Занимает обе строки */
    }

    .monitor {
        height: 204px;
    }

    .hp-nav {
        height: 44px;
        gap: 15px;
    }

    .hp-title {
        font-size: 30px;
    }

    .hp-description {
        font-size: 16px;
    }

    .hp-list-item img {
        width: 20px;
        height: 20px;
    }

    .cds-screen-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .cds-picture {
        grid-row: 1;
        width: 100%;
        height: 100%;
    }

    .cds-buy-h2 {
        line-height: 30px
    }

    .cds-title {
        font-size: 20px;
        line-height: 23px;
    }

    .cds-article {
        grid-column: 1;
        grid-row: 2;
        padding-top: 70px;
        justify-content: center;
    }


    .kit-description {
        font-size: 16px;
        line-height: 18px;
    }

    .cds-article {
        padding-top: 40px;
    }

    .cds-buy-h2 {
        font-size: 30px;
    }

    .platform-block {
        margin-top: 40px;
    }

    .cds-nav {
        display: flex;
    }

    .pcStadia {
        margin-top: 19px;
        width: auto;
        height: 130px;
    }

    .xboxPs {
        margin-top: 25px;
        padding-left: 60px;
        width: auto;
        height: 120px;
    }

    .footer--info {
        background: rgba(230, 230, 230, 1);
    }

    .footer-container {
        flex-direction: column;
    }

    .footer--logos {
        flex-direction: column;
    }

    .footer--game--logo {
        width: 200px;
    }

    .footer--info {
        width: 100%;
        height: 103px;
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 25px;
        gap: 15px;
    }

    .footer--info p {
        font-family: Roboto, serif;
        font-size: 16px;
        line-height: 18px;
    }

}

/* планшет */
@media (min-width: 768px) and (max-width: 1199px) {
    .main-header {
        max-width: 952px;
        height: 74px;
        justify-content: space-between;
    }

    .main-screen_container, .footer-container, .hp-screen-container,
    .promoContainer, .image-gallery, .desc-container {
        max-width: 952px;
    }

    .bg-image {
        object-position: 53%;
    }

    .contacts img {
        margin-left: 40px;
    }

    .available--info br {
        display: inline; /* Показываем перенос только на больших экранах */
    }


    .rectangular--info--button {
        margin-top: 25px;
        font-size: 24px;
    }


    .image-gallery {
        flex-direction: column;
    }

    .screens-wrapper {
        flex-direction: row;
    }

    .gallery-bigImg {
        height: 424px;
    }

    .addedConsole {
        margin-top: -54px;
    }

    .ps {
        margin-top: -54px;
    }

    .consoles {
        flex-direction: column;
        margin-right: 0;
    }

    .motto-star {
        max-width: 320px;
    }

    .promo-description {
        max-width: 460px;
    }

    .consoles {
        top: 95px;
    }

    .hp-image {
        padding-top: 42px;
    }

    .hp-ad {
        padding-right: 10px;
    }

    .monitor {
        width: 460px;
        height: 317px;
    }

    .hp-nav {
        flex-direction: column;
        width: 460px;
        height: 317px;
        justify-self: auto;
    }

    .cds-picture-container {
        width: 332px; /* Ширина области видимости */
        height: auto; /* Автоматическая высота контейнера (можно задать фиксированную) */
        overflow: hidden; /* Обрезать все, что выходит за границы контейнера */
        position: relative; /* Для контроля размещения картинки */
    }

    .cds-picture-container img {
        width: auto; /* Не деформировать изображение */
        height: 100%; /* Масштабировать по высоте контейнера */
        position: absolute; /* Позволяет сдвигать изображение */
        left: -35px; /* Показать только левую часть */
        top: 0;
    }

    .cds-screen-container {
        grid-template-columns: 332px auto;
    }


}

/* монитор */
@media (min-width: 1200px) {

    .main-header {
        width: 1280px;
        height: 74px;
        justify-content: space-between;
    }

    .contacts img {
        margin-left: 40px;
    }

    .available--info br {
        display: inline; /* Показываем перенос только на больших экранах */
    }

    .motto {
        margin-left: 32px;
        margin-bottom: 14px;
    }

    .motto-star {
        display: flex;
        align-items: end;
    }

    .addedConsole {
        margin-left: -132px;
    }

    .extensions {
        display: block;
    }
}


